p.header {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 2rem;
}

:host ::ng-deep .mat-card {
    background: #000 !important;
    color: #fff;
}

table {
    width: 100%;
}

.mat-row {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.mat-row:hover {
    background-color: #fafafa;
}

.mat-column-title {
    color: #333;
    font-size: 13pt;
    cursor: pointer;
}

.author {
    color: #999;
}

.mat-column-time {
    color: #333;
    font-size: 13pt;
}

a mat-icon {
    opacity: 0;
    cursor: pointer;
}

.mat-row:hover a mat-icon {
    opacity: 1;
}
